h1{
    color: #A0C3F8;
    font-family: "Cambria", Times, serif;
}

h3{
    color: #A0C3F8;
    font-family: "Cambria", Times, serif;
}

#gfont{
    color: white;
    font-family: "Cambria", Times, serif;
}

a{
    color: red;
}

body{
    background-color: #585445;
}